<div class="flex justify-between flex-col items-center pt-[100px] h-[93vh]">

  <div class="flex justify-center items-center text-center flex-col gap-5 border-2 border-[#673ab7] pt-6 px-6 pb-6 rounded-lg shadow-md">
    <h1 class="font-bold text-3xl">{{isSignup ? 'Sign Up' : 'Login'}}</h1>

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form class="flex justify-center items-center flex-col" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <mat-form-field class="example-form-field" appearance="outline" *ngIf="isSignup">
        <mat-label for="username">Username</mat-label>
        <input matInput type="text" id="username" formControlName="username">
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label for="email">Email</mat-label>
        <input matInput type="email" id="email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label for="password">Password</mat-label>
        <input matInput type="password" id="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" class="w-full" type="submit" [disabled]="!authForm.valid">{{isSignup ? 'Sign Up' : 'Login'}}</button>
      <p class="mt-3" *ngIf="!isSignup">No account yet? <span class="text-[#6d42ba] font-bold cursor-pointer" (click)="toggleSignup()">signup</span></p>
      <p class="mt-3" *ngIf="isSignup">Already have an account? <span class="text-[#6d42ba] font-bold cursor-pointer" (click)="toggleSignup()">login</span></p>
    </form>
  </div>
  <div class="flex justify-end items-end p-4">
    <p class="text-[13px]">App Developed by RGM. Copyright 2023. All Rights Reserved"</p>
  </div>
</div>

