<mat-toolbar color="primary" class="flex justify-between w-full">
  <span class="md:flex hidden">TICKET CORNER</span>
  <div class="flex gap-2">
    <div class="flex justify-center items-center gap-3">
      <button mat-raised-button color="accent" routerLink="/incidents">INCIDENTS</button>
      <button mat-raised-button color="accent" routerLink="/enhancements">ENHANCEMENTS</button>
    </div>
    <div class="flex justify-center items-center">
      <button mat-mini-fab color="warn" routerLink="/login">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<div class="w-full flex justify-center items-center">
  <router-outlet></router-outlet>
</div>
