.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.status-container {
  text-align: center;
}

.center-text {
  text-align: center;
}

.status {
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 0.1em;
}

.in-progress {
  background-color: #9b5de5;
  color: white;
}

.waiting-for {
  background-color: #f15bb5;
}

.cancelled {
  background-color: #001d3d;
  color: white;
}

.resolved {
  background-color: #55a630;
  color: white;
}

.deployed {
  background-color: #4cc9f0;
}

.qualified {
  background-color: #4361ee;
}

.accepted {
  background-color: #fb8b24;
}

.screening {
  background-color: #fdfcdc;
}

.validated {
  background: #a7c957;
}

.acceptance-test {
  background: #ccdbfd;
}

.to-be-reworked {
  background: #ff595e;
  color: white;
}

.draft {
  background-color: #757575;
  color: white;
}

.submitted {
  background-color: #9bf6ff;
}

.closed {
  background-color: #8ac926;
}

.yes {
  background-color: #ffadad;
}

.no {
  background-color: #caffbf;
}

.na {
  background-color: rgb(78, 78, 78);
  color: white;
}

.low {
  background-color: #caffbf;
}

.medium {
  background-color: #f15bb5;
  color: white;
}

.high {
  background-color: #fb8b24;
  color: white;
}

.top {
  background-color: #ff595e;
  color: white;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 2px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 2px solid #e0e0e0;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 11px !important;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}


.csv-div {
  margin-top: 15px;
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 10px;
}

.upload-csv {
  background-color: var(--primary);
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

input {
  display: none;
}
